* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #068932;
  --medium-black: #738f93;
  --light-black: #b7c9cc;
  --light-blue: #f7fcffff;
  --light-white: #f7f7f7ff;
  --text-color: #39424e;
  --light-text: #576871;
  --dot-color: #d9d9d9;
}

:root {
  --text-green: #068932;
  --text-yellow: #32c766;
  --text-gray: #576871;
  --text-gray-white: #b7c9cc;
  --text-black: #39424e;
  --text-white: #f5f4f3;
  --text-white-tr: #f5f4f3cb;
  --night-bg: #111621;
  --aqua-bg: #f7fcff;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.navbar .top {
  background-color: var(--green);
  padding: 5px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.navbar .top img {
  width: 24px;
  opacity: 0.5;
  cursor: pointer;
}
.navbar .top img:hover {
  opacity: 1;
}
.navbar .top .info {
  display: flex;
  flex: 1;
  align-items: center;
}
.navbar .top .info div {
  display: flex;
  align-items: center;
  transition: 0.5s;
  animation-name: navbar;
  animation-duration: 0.5s;
}
@keyframes navbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar .top .info p {
  color: var(--white);
  font-size: 0.7rem;
  font-weight: 700;
}
.navbar .top .info a {
  padding: 0 10px;
  font-size: 0.8rem;
  color: var(--white);
  font-weight: 600;
  border: 1px solid var(--white);
  border-radius: 4px;
  line-height: 25px;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: -3px 0 0 8px;
}
.navbar .center {
  height: 40px;
  background: linear-gradient(90deg, rgb(5, 12, 27), rgb(26, 64, 85) 15%, rgb(26, 64, 85) 35%, rgb(5, 12, 27) 50%) rgb(5, 12, 27);
  padding: 0 184px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
.navbar .center a {
  color: #b7c9cc;
  font-size: 14px;
  transition: 0.5s;
}
.navbar .center a:hover {
  color: white;
}
.navbar .center hr {
  height: 40%;
}
.navbar .top-scroll {
  width: 100%;
  box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
  position: fixed;
  z-index: 999;
  margin: 0;
  background-color: var(--white);
}
.navbar .bottom {
  padding: 0px 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .bottom .logo {
  padding: 20px 0;
}
.navbar .bottom .logo img {
  width: 150px;
}
.navbar .bottom .links {
  height: 100%;
}
.navbar .bottom .links ul {
  display: flex;
  gap: 20px;
  position: relative;
}
.navbar .bottom .links ul li {
  font-size: 14px;
  font-weight: 600;
}
.navbar .bottom .links ul li:first-child:hover .products {
  display: flex;
}
.navbar .bottom .links ul li:hover {
  color: var(--green);
  cursor: pointer;
}
.navbar .bottom .links ul .dropdown {
  position: absolute;
  border: 1px solid var(--light-white);
  transition: 0.5s;
  padding: 64px;
  max-width: 1170px;
  justify-content: space-between;
  background-color: var(--white);
  animation-name: dropdown;
  animation-duration: 0.5s;
}
.navbar .bottom .links ul .dropdown:hover {
  color: var(--black);
}
@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar .bottom .links ul .dropdown .left-link,
.navbar .bottom .links ul .dropdown .right-link {
  width: 260px;
  align-items: start;
  flex-direction: column;
}
.navbar .bottom .links ul .dropdown .left-link span,
.navbar .bottom .links ul .dropdown .right-link span {
  color: var(--medium-black);
  font-weight: bold;
  font-size: 14px;
}
.navbar .bottom .links ul .dropdown .left-link .link,
.navbar .bottom .links ul .dropdown .right-link .link {
  margin-top: 10px;
}
.navbar .bottom .links ul .dropdown .left-link .link a,
.navbar .bottom .links ul .dropdown .right-link .link a {
  font-size: 14px;
}
.navbar .bottom .links ul .dropdown .left-link .link a:hover,
.navbar .bottom .links ul .dropdown .right-link .link a:hover {
  color: var(--green);
}
.navbar .bottom .links ul .dropdown .left-link .link h5,
.navbar .bottom .links ul .dropdown .right-link .link h5 {
  font-size: 12px;
  font-weight: 400;
  color: var(--medium-black);
}
.navbar .bottom .links ul .solution {
  display: none;
  transform: translateX(-35%);
}
.navbar .bottom .links ul .products {
  display: none;
  transform: translateX(-35%);
}
.navbar .bottom .right {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}
.navbar .bottom .right a {
  font-size: 14px;
  font-weight: 600;
}
.navbar .bottom .right a:first-child {
  border-right: 2px solid;
  padding: 0px 15px;
  margin-right: 5px;
}
.navbar .bottom .right a:first-child:hover {
  color: var(--green);
}
.navbar .bottom .right a:nth-child(2) {
  background-color: var(--light-white);
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 5px;
}
.navbar .bottom .right a:last-child {
  color: var(--white);
  background-color: var(--green);
  padding: 7px 10px;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}
header h1 {
  font-size: 64px;
  font-weight: 900;
  max-width: 780px;
}
header p {
  font-size: 18px;
  max-width: 620px;
  font-weight: 300;
  margin-top: 20px;
  display: flex;
  gap: 25px;
  color: var(--text-color);
}
header p .sign,
header p .demo {
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}
header p .sign {
  color: var(--white);
  background: var(--green);
}
header p .demo {
  border: 1px solid var(--black);
  padding: 10px 25px;
}
header .client-logos {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
header .client-logos img {
  max-width: 100px;
}

.interview .top {
  text-align: center;
}
.interview .top h1 {
  font-size: 56px;
  line-height: 1.3;
  color: #131414;
  font-weight: 300;
  margin: 36px 0;
}
.interview .top h1 span {
  color: var(--green);
  background: -webkit-linear-gradient(right, #32C766, #068932);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.interview .top p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.59;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 40px;
  color: var(--light-text);
}
.interview .top p a {
  color: var(--white);
  background-color: var(--green);
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}
.interview .bottom {
  padding: 0px 184px;
  margin-top: 35px;
}
.interview .bottom .logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.interview .bottom .img {
  padding: 0 20px;
  margin-top: 35px;
}
.interview .bottom .img img {
  max-width: 1084px;
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 0 125px;
  margin-top: 175px;
}
.about .left {
  width: 60%;
}
.about .left h3, .about .left span {
  font-size: 2rem;
  font-weight: 300;
}
.about .left span {
  color: var(--green);
  margin-bottom: 50px;
}
.about .left p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.59;
  margin-top: 10px;
  color: var(--light-text);
  max-width: 590px;
}
.about .right {
  width: 30%;
  width: 420px;
  padding: 64px 32px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.about .right .fixer {
  display: flex;
  width: auto;
  overflow: hidden;
  gap: 35px;
  min-width: 2340px;
  transition: 0.5s;
}
.about .right .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .right .card img {
  margin-bottom: 24px;
}
.about .right .card p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: var(--light-text);
  max-width: 324px;
  min-width: 324px;
}
.about .right .slider-dots {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  gap: 15px;
}
.about .right .slider-dots .active {
  background-color: var(--green) !important;
  transform: scale(1.2);
}
.about .right .slider-dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--dot-color);
  transition: 0.25s;
  cursor: pointer;
}
.about .right .slider-dots .dot:hover {
  transform: scale(1.2);
}

.client-logos {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.client-logos img {
  max-width: 100px;
}

.problems {
  background: var(--aqua-bg);
  padding: 80px 123px;
}
.problems .problems_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.problems .problems_title h2 {
  font-size: 56px;
  text-align: center;
}
.problems .problems_title h2 span {
  display: block;
  text-align: center;
  color: var(--text-green);
  background: -webkit-linear-gradient(right, var(--text-yellow), var(--text-green));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.problems .problems_title p {
  max-width: 680px;
  font-size: 18px;
  text-align: center;
  margin-top: 24px;
  color: var(--text-gray);
  line-height: 1.6;
}
.problems .miniMenu {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.problems .miniMenu a {
  min-width: 150px;
  margin: 24px 24px 0;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-black);
  text-align: center;
}
.problems .miniMenu a:hover {
  text-decoration: underline;
}
.problems .hr_container {
  position: relative;
  margin-top: 48px;
}
.problems .hr_container::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #b7c9cc;
  left: 70px;
  top: 0;
}
.problems .hr_container .hr_banner {
  max-width: 1180px;
  height: 462px;
  padding: 24px 96px;
  border-radius: 8px;
  background: var(--night-bg);
  display: flex;
  align-items: center;
}
.problems .hr_container .hr_banner .banner_details {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 80px;
  position: relative;
}
.problems .hr_container .hr_banner .banner_details .banner_details_label {
  color: var(--text-gray-white);
  font-size: 14px;
  padding: 0 0 0 8px;
}
.problems .hr_container .hr_banner .banner_details i {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -34px;
  background: var(--night-bg);
  height: 25px;
  width: 35px;
}
.problems .hr_container .hr_banner .banner_details i::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #b7c9cc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.problems .hr_container .hr_banner .banner_details i::after {
  display: block;
  content: "";
  width: 12px;
  height: 1px;
  background: #b7c9cc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.problems .hr_container .hr_banner .banner_details h3 {
  margin: 32px 0;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  color: var(--text-white);
}
.problems .hr_container .hr_banner .banner_details p {
  color: var(--text-white-tr);
  font-weight: 300;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 0.5em;
}
.problems .hr_container .hr_banner .banner_details a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--white);
  font-size: 14px;
  margin-top: 32px;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px 16px;
  text-decoration: none;
  border: 1px solid var(--white);
}
.problems .hr_container .hr_banner .banner_details a svg {
  margin-left: 8px;
  transition: 0.2s;
}
.problems .hr_container .hr_banner .banner_details a:hover svg {
  transform: translateX(4px);
  transition: 0.2s;
}
.problems .hr_container .hr_banner .banner_img {
  width: 50%;
  height: 100%;
}
.problems .hr_container .hr_banner .banner_img img {
  width: 100%;
  height: 100%;
}
.problems .hr_container .coding_skills {
  padding: 80px 0 80px 96px;
}
.problems .hr_container .coding_skills .coding_skills_title .coding_skills_label {
  color: var(--black);
  font-size: 14px;
}
.problems .hr_container .coding_skills .coding_skills_title h3 {
  font-size: 56px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.problems .hr_container .coding_skills .coding_skills_title h3 span {
  display: block;
  color: var(--text-green);
  background: -webkit-linear-gradient(right, var(--text-yellow), var(--text-green));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.problems .hr_container .coding_skills .problems_comparison {
  max-width: 1084px;
  height: 530px;
  background-image: url(../imgs/report-2.jpeg);
  background-size: cover;
}
.problems .hr_container .coding_skills .screen-art {
  display: block;
  position: absolute;
  left: 0;
  margin-left: -7px;
  margin-top: -480px;
}
.problems .hr_container .coding_skills .screen-art i {
  position: absolute;
  margin-left: 69px;
  margin-top: -12px;
  background: var(--aqua-bg);
  height: 25px;
  width: 35px;
}
.problems .hr_container .coding_skills .screen-art i::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #b7c9cc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.problems .hr_container .coding_skills .screen-art i::after {
  display: block;
  content: "";
  width: 12px;
  height: 1px;
  background: #b7c9cc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.problems .hr_container .bin_tree {
  margin-top: 16px;
  padding: 0 0 0 80px;
  display: flex;
  width: 100%;
}
.problems .hr_container .bin_tree .bin_tree_details {
  width: 50%;
  padding-left: 24px;
  padding-right: 113px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.problems .hr_container .bin_tree .bin_tree_details h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.problems .hr_container .bin_tree .bin_tree_details p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-gray);
  margin-bottom: 14px;
  font-weight: 300;
}
.problems .hr_container .bin_tree .bin_tree_details a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
.problems .hr_container .bin_tree .bin_tree_details a svg {
  margin-left: 4px;
}
.problems .hr_container .bin_tree .bin_tree_details i {
  position: absolute;
  margin-left: -42px;
  top: 122px;
  background: var(--aqua-bg);
  height: 25px;
  width: 35px;
  display: block;
}
.problems .hr_container .bin_tree .bin_tree_details i::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #b7c9cc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.problems .hr_container .bin_tree .bin_tree_details i::after {
  display: block;
  content: "";
  width: 12px;
  height: 1px;
  background: #b7c9cc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.problems .hr_container .bin_tree .bin_tree_img {
  width: 55%;
  position: relative;
}
.problems .hr_container .bin_tree .bin_tree_img img {
  width: 100%;
  height: 100%;
  transform: translateZ(10px);
}
.problems .hr_container .bin_tree .bin_tree_img::before {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 50px;
  width: 200px;
  height: 200px;
  box-shadow: rgb(204, 204, 204) 0px 0px 200px;
}
.problems .hr_container .focusCode {
  margin-top: 96px;
  padding: 0 0 0 80px;
  display: flex;
  width: 100%;
}
.problems .hr_container .focusCode .focusCode_details {
  width: 50%;
  padding-left: 24px;
  padding-right: 113px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.problems .hr_container .focusCode .focusCode_details h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.problems .hr_container .focusCode .focusCode_details p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-gray);
  margin-bottom: 14px;
  font-weight: 300;
}
.problems .hr_container .focusCode .focusCode_details a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
.problems .hr_container .focusCode .focusCode_details a svg {
  margin-left: 4px;
}
.problems .hr_container .focusCode .focusCode_details i {
  position: absolute;
  margin-left: -42px;
  top: 104px;
  background: var(--aqua-bg);
  height: 25px;
  width: 35px;
  display: block;
}
.problems .hr_container .focusCode .focusCode_details i::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #b7c9cc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.problems .hr_container .focusCode .focusCode_details i::after {
  display: block;
  content: "";
  width: 12px;
  height: 1px;
  background: #b7c9cc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.problems .hr_container .focusCode .focusCode_img {
  width: 55%;
  position: relative;
}
.problems .hr_container .focusCode .focusCode_img img {
  width: 100%;
  height: 100%;
  transform: translateZ(10px);
}
.problems .hr_container .focusCode .focusCode_img::before {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 50px;
  width: 200px;
  height: 200px;
  box-shadow: rgb(204, 204, 204) 0px 0px 200px;
}
.problems .hr_container .topContender {
  margin-top: 96px;
  padding: 0 0 0 80px;
  display: flex;
  width: 100%;
}
.problems .hr_container .topContender .topContender_details {
  width: 50%;
  padding-left: 24px;
  padding-right: 113px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.problems .hr_container .topContender .topContender_details h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.problems .hr_container .topContender .topContender_details p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-gray);
  margin-bottom: 14px;
  font-weight: 300;
}
.problems .hr_container .topContender .topContender_details a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
.problems .hr_container .topContender .topContender_details a svg {
  margin-left: 4px;
}
.problems .hr_container .topContender .topContender_details i {
  position: absolute;
  margin-left: -42px;
  top: 110px;
  background: var(--aqua-bg);
  height: 25px;
  width: 35px;
  display: block;
}
.problems .hr_container .topContender .topContender_details i::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #b7c9cc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.problems .hr_container .topContender .topContender_details i::after {
  display: block;
  content: "";
  width: 12px;
  height: 1px;
  background: #b7c9cc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.problems .hr_container .topContender .topContender_img {
  width: 55%;
  position: relative;
}
.problems .hr_container .topContender .topContender_img img {
  width: 100%;
  height: 100%;
  transform: translateZ(10px);
}
.problems .hr_container .topContender .topContender_img::before {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 50px;
  width: 200px;
  height: 200px;
  box-shadow: rgb(204, 204, 204) 0px 0px 200px;
}

.home-links {
  display: flex;
  margin-top: 50px;
  padding-left: 125px;
}
.home-links .left {
  padding: 96px 64px 96px 0;
}
.home-links .right {
  background-color: var(--light-blue);
  padding: 96px 0 96px 64px;
}
.home-links .left,
.home-links .right {
  width: 50%;
}
.home-links .left h3,
.home-links .left span,
.home-links .right h3,
.home-links .right span {
  font-size: 2rem;
  font-weight: 300;
  max-width: 450px;
}
.home-links .left span,
.home-links .right span {
  color: var(--green);
  margin-bottom: 50px;
}
.home-links .left p,
.home-links .right p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.59;
  margin-top: 30px;
  color: var(--light-text);
  max-width: 440px;
  margin-bottom: 24px;
}
.home-links .left a,
.home-links .right a {
  padding: 10px 16px;
  color: var(--white);
  background-color: var(--green);
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
.home-links .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background: #33343b;
  z-index: 1111;
}

footer {
  padding: 50px 150px;
}
footer .top {
  display: flex;
  justify-content: space-between;
}
footer .top span a {
  letter-spacing: 0.4em;
  color: var(--light-text);
  padding-bottom: 1em;
  font-size: 0.923em;
}
footer .top a {
  display: block;
  font-size: 14px;
  color: var(--text-gray);
  margin: 9px 0;
}
footer .top a:hover {
  color: var(--green);
}/*# sourceMappingURL=style.css.map */